
obj/Debug/net6.0/Avto1Test.pdb
*.vsidx
bin/Debug/net6.0/Avto1Test.dll
bin/Debug/net6.0/Avto1Test.exe
bin/Debug/net6.0/Avto1Test.pdb
obj/Debug/net6.0/ref/Avto1Test.dll
obj/Debug/net6.0/refint/Avto1Test.dll
obj/Debug/net6.0/Avto1Test.dll
.vs/Avto1Test/v17/.suo
.vs/Avto1Test/DesignTimeBuild/.dtbcache.v2
.vs/Avto1Test/FileContentIndex/read.lock
obj/Debug/net6.0/Avto1Test.RazorAssemblyInfo.cache
obj/Debug/net6.0/Avto1Test.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/Avto1Test.genruntimeconfig.cache
obj/Debug/net6.0/Avto1Test.csproj.FileListAbsolute.txt
/obj/Debug/net6.0
/bin
/.vs
/bin
