@page
@model Avto1Test.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Редактирование</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Url.Id" />
            <input type="hidden" asp-for="Url.NumOfCall" />
            <div class="form-group">
                <label asp-for="Url.MainURL" class="control-label"></label>
                <input asp-for="Url.MainURL" class="form-control" />
                <span asp-validation-for="Url.MainURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url.TinyURL" class="control-label"></label>
                <input asp-for="Url.TinyURL" class="form-control" />
                <span asp-validation-for="Url.TinyURL" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Не сохранять</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
